h1 {
    color: lightsalmon;
    background-color: black;
    font-family: monospace
}

h2 {font-weight: normal;
    text-decoration: underline}

p { font-weight: bold;
    font-style: italic
}

a { 
    text-decoration: none;
}

h2, p {
        text-align: center;
}

/*this changes the id="header" a specified RGB color*/

#header {
    background: rgb(134, 255, 255);
}


/*this changes the id="content" a specified RGB color*/

#content {
    background: peachpuff;
}

@media screen and (max-width: 760px){
    #content{
        grid-template-columns: 1fr;
    }
}
